//自定义回到顶部样式
.back-to-top {
  right: 60px;
  width: 70px;  //图片素材宽度
  height: 900px;  //图片素材高度
  top: -1000px;
  bottom: unset;
  transition: all .5s ease-in-out;
  background: url("/images/scroll.png");

  //隐藏箭头图标
  > i {
    display: none;
  }

  &.back-to-top-on {
    bottom: unset;
    top: 100vh < (900px + 100px) ? calc( 100vh - 900px - 200px ) : 0px;
  }
}

//背景图片
body {
 	background: url(/images/background.jpg);
 	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}


//屏蔽评论组件的多余信息
#comments .vsys {
  display: none;
}

.footer-inner {color: #000000	}
